/* header {
    background-color: rgba(128, 128, 128, 0.144);
} */
/* .flex-1{
    background-image: url('./image/Rectangle.png');
    height: 460px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
} */